#CalendarTable {
	table {
		margin: 0 auto;
		padding: 5px;
		border: $border;
		cursor: pointer;

		tr {
			font-size: 1.6em;
			@media screen and (max-width: 500px) {
				font-size: 1em;
			}
		}
		th {
			font-size: 0.3em;
		}
		td {
			border: $border;

			&:hover {
				color: $color-mark-one;
			}
			p {
				font-size: 40px;
				padding: 10px 10px;

				@media screen and (max-width: 1850px) {
					font-size: 35px;
					padding: 8px 8px;
				}
				@media screen and (max-width: 1550px) {
					font-size: 30px;
					padding: 6px 6px;
				}
				@media screen and (max-width: 1200px) {
					font-size: 25px;
					padding: 5px 5px;
				}
				@media screen and (max-width: 950px) {
					font-size: 30px;
					padding: 6px 6px;
				}
				@media screen and (max-width: 800px) {
					font-size: 25px;
					padding: 5px 5px;
				}
			}
		}
	}
	td.today {
		background-color: $color-mark-one;
		color: $color-background-one;
		&:hover {
			color: $color-background-one;
		}
	}
	td.markDay {
		border: 2px solid $color-mark-one;
	}
}

.todos::before {
	content: "";
	position: absolute;

	height: 15px;
	width: 10px;
	border-bottom-left-radius: 10px;
	background-color: $color-mark-one;
	transform: translateX(1vw);
	@media screen and (max-width: 900px) {
		height: 10px;
		width: 8px;
	}
	@media screen and (max-width: 500px) {
		height: 8px;
		width: 5px;
	}
}
