.List {
	overflow: auto;
	min-height: 50vh;

	&__element {
		font-size: 20px;
		padding-left: 5%;
		text-align: left;
		display: flex;
		flex-wrap: nowrap;
		@media screen and (max-width: 1200px) {
			font-size: 18px;
		}
		@media screen and (max-width: 1050px) {
			font-size: 15px;
		}
		@media screen and (max-width: 550px) {
			font-size: 12px;
		}
		&__data {
			margin-right: 10px;
			margin-bottom: 10px;
			width: 20%;
			text-align: center;
			border: $border;
		}
		&__quest {
			margin-right: 10px;
			margin-bottom: 10px;
			width: 45%;
			padding-left: 5px;

			border: $border;
		}
		&__time {
			width: 10%;
			text-align: center;
			border: $border;
			margin-right: 10px;
			margin-bottom: 10px;
		}
		button {
			width: 15%;
			height: 50px;
			font-size: 1em;
			margin: 5px;
			text-align: center;
			background-color: $color-background-two;
			border-radius: 7px;
			color: $color-font-two;
			&:hover {
				background-color: $color-font-two;
				color: $color-font-one;
			}
		}
	}

	.top-button {
		width: 30%;
		font-size: 20px;
		margin: 5px;
		text-align: center;
		background-color: $color-background-two;
		border-radius: 7px;
		color: $color-font-two;
		@media screen and (max-width: 700px) {
			font-size: 0.5em;
		}
		&:hover {
			background-color: $color-font-two;
			color: $color-font-one;
		}
	}
	.active {
		background-color: $color-font-two;
		color: $color-font-one;
	}
}
