.CalendarHeader {
	padding: 1vh 0;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	h3 {
		font-size: 0.7em;
		margin: 0 5%;
		width: 35%;
	}
	button {
		width: 25%;
		padding: 5px 10px;
		font-size: 25px;
		font-weight: 700;
		text-align: center;
		background-color: $color-background-two;
		border-radius: 1.5vh;
		color: $color-font-two;
		&:hover {
			background-color: $color-background-one;
			border-radius: 1.5vh;
			color: $color-font-one;
		}
	}
}
