form {
	font-size: 0.5em;
	text-align: left;
	margin-left: 5%;
	input {
		height: 4vh;
		background-color: $color-background-two;
	}
	#quest_add {
		margin: 2vh 0;
		input {
			width: 90%;
			margin: 0;
		}
	}

	#quest_time {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-bottom: 2vh;
		margin-right: 10%;
		input {
			margin-bottom: 2vh;
		}
		button {
			align-self: center;
			width: 100px;
			height: 40px;
			font-size: 1em;
			font-weight: 700;
			text-align: center;
			background-color: $color-background-two;
			border-radius: 8px;
			color: $color-font-two;
			&:hover {
				background-color: $color-background-one;

				color: $color-font-one;
			}
		}
	}
	.empty-field {
		background-color: $color-mark-one;
	}
}
