form {
	font-size: 0.5em;
	text-align: left;
	margin-left: 10%;
}
form input {
	height: 4vh;
	background-color: rgb(250, 250, 250, 0.8);
}

#quest_add {
	margin: 2vh 0;
}
#quest_add input {
	width: 60%;
	margin: 0 5%;
}
#quest_time {
	margin: 2vh 0;
}
#quest_time input {
	width: 20%;
	margin: 0 5%;
}
#quest_date {
	margin: 2vh 0;
}
#quest_date input {
	width: 20%;
	margin: 0 5%;
}
#quest_date #done {
	height: 3vh;
	margin: 0 0;
}
form button {
	font-size: 1em;
	font-weight: 700;
	text-align: center;
	margin-left: 50%;
	height: 5vh;
	width: 20%;
	background-color: rgb(250, 250, 250, 0.8);
	border-radius: 1.5vh;
	color: rgb(58, 58, 58);
}
form button:hover {
	background-color: rgb(58, 58, 58);
	border-radius: 1.5vh;
	color: rgb(250, 250, 250, 0.8);
}

.empty-field {
	background-color: red;
}
