.app {
  background-color: cornsilk;
  height: 90vh;
  width: 90%;
  margin: 5vh 5%;
  padding: 5vh 5%;
  border-radius: 5vh;
  overflow: hidden;
  text-align: center;
}
h1 {
  height: 10%;
  margin: 0;
}
.form {
  background-color: darksalmon;
  height: 20%;
}
.nav {
  background-color: forestgreen;
  height: 10%;
}
.body {
  background-color: sienna;
  height: 50%;
}
.footer {
  background-color: steelblue;
  height: 10%;
}
