.app {
  background-image: url("./Images_Icons/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  padding: 5vh 5%;
  text-align: center;
  color: #fbe8d3;
  display: flex;
}
h2 {
  font-size: 1.5em;
}
.col_1 {
  width: 60%;
}
.col_2 {
  width: 40%;
}
.form,
.List,
.Calendar {
  background-color: rgb(58, 58, 58, 0.9);
  margin: 5vh 5%;
  border-radius: 30px;
  box-shadow: 0px 0px 15px rgb(58, 58, 58);
}
.form {
  height: 37.5vh;
}
.List {
  height: 80vh;
}
.Calendar {
  height: 37.5vh;
}
