@import "./colors";

.app {
	background-image: url("../Images_Icons/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	text-align: center;
	color: $color-font-one;
	display: flex;
	padding: 10vh 10%;

	@media screen and (max-width: 1500px) {
		padding: 10vh 5%;
	}
	@media screen and (max-width: 950px) {
		display: block;
		padding: 5vh 5%;
	}
	@media screen and (max-width: 700px) {
		padding: 5vh 0%;
	}

	.col_1 {
		width: 40%;
		@media screen and (max-width: 950px) {
			width: 90%;
			margin: 0 auto;
		}
	}
	.col_2 {
		width: 60%;
		@media screen and (max-width: 950px) {
			margin: 0 auto;
			width: 90%;
		}
	}
	.form,
	.List,
	.Calendar {
		background-color: $color-background-one;
		margin: 5vh 5%;
		border-radius: 30px;
		box-shadow: $shadows;
	}
}
