$color-font-one: #ecdbba;
$color-font-two: #191919c7;

$color-background-one: #303030;
$color-background-two: #ecdbba;

$color-mark-one: #c84b31;
$color-mark-two: #2d4263;

$color-btn-normal-one: Helvetica, sans-serif;
$color-btn-normal-two: Helvetica, sans-serif;

$color-btn-click-one: Helvetica, sans-serif;
$color-btn-click-two: Helvetica, sans-serif;

$shadows: 0px 0px 15px rgb(58, 58, 58);
$shadows-two: 0px 0px 5px rgb(0, 0, 0);

$border: 1px solid rgba(250, 250, 250, 0.3);
